#top_box{
  height: 70px;
  background-color: black;
}
body{
  font-family: 'Raleway', sans-serif;
  background-color: #F5F5F5;
}
#logo{
  margin-top: 15px;
}
h3,h5{
  font-weight: bold;
}
.section{
  margin-top:1.5%;
  padding-left:1.5%;
  padding-right: 0.5%;
  padding-top:0.5%;
  border: 2px dashed lightgrey;
  border-radius: 6px;
}
.s_section{
	margin-top:1.5%;
	margin-bottom: 1.5%;
	margin-right: 0.85%;
  padding-left:1.5%;
  padding-right: 0.5%;
  padding-top:0.5%;
  border: 2px solid black;
  border-radius: 6px;
}
.top_exec li{
	line-height: 2rem;
}
.s_pg{
  margin-top: 30%;
  font-weight: 1000;
  font-size: 20px;
}
.sym{
  margin-left: 40%;
  font-size: 80px;
}